@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');
:root {
    height: 100vh;
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
    font-family: "Sintony";
    user-select: none;
    --highlight: rgb(138, 43, 226);
    --text-color-highlight: #fff;
    --text-color: #000;
    --text-color-light: #777;
    --link-color: #007;
    box-sizing: border-box;
    overflow: hidden;
}

.dark {
    --highlight: rgb(255, 236, 0);
    --text-color: #fff;
    --text-color-highlight: #121212;
    --link-color: #bbf;
    --text-color-light: #aaa;
    background-color: #121212;
    color: var(--text-color-highlight);
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

#root {
    box-sizing: border-box;
}

h1,
h2,
p,
a,
button,
small {
    color: var(--text-color);
}

input,
select {
    background-color: var(--text-color-highlight);
    color: var(--text-color);
    border-radius: 0.5rem;
}

body {
    width: 100vw;
    font-family: Sintony;
}

button,
select {
    border: none;
    padding: 0.75rem;
    font-weight: bold;
    transition: all ease-in-out 250ms;
    color: var(--text-color);
    border-radius: 0.25rem;
}

.App {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding-top: 0;
    margin: 0;
    background-color: #CCCCFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23d3d3ff' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23dbdbff' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23e2e2ff' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23e9e9ff' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23f0f0ff' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23f8f8ff' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23FFFFFF' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.front-page,
.front-page-options {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    backdrop-filter: blur(2px);
    background-color: transparent;
    max-width: 36ch;
    flex-direction: row;
}

.front-page {
    height: fit-content;
    padding: .75rem;
    width: 75%;
    border-radius: 0.25rem;
    flex-direction: column;
    background-color: white;
    gap: 0.5rem;
}

.headings h1 {
    font-size: 1.5rem;
    margin: 0;
    font-family: "Baloo 2", sans-serif;
}

.headings svg {
    scale: 1.5;
}

.headings {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
    padding: .5rem;
    border-bottom: 1px solid #EEE;
    box-sizing: border-box;
}

.front-page-contents {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

form input,
select {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    border: none;
    color: var(--text-color);
    border: 1px solid #bbb;
    border-radius: 0.25rem;
}

input {
    background-color: var(--text-color-highlight);
}

select {
    width: auto;
    border: 2px solid var(--text-color);
}

form input:hover {
    outline: none;
    border-color: #888;
}

form input:focus-visible {
    outline: none;
    border-color: red;
}

form .submit-btn {
    width: 100%;
    border: 3px solid #003;
    color: white;
    background-color: #003;
}

form .submit-btn:hover {
    background-color: greenyellow;
}
.front-page-options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-color-highlight);
    gap: 1rem;
}

.front-page-options button {
    margin: 0;
    box-shadow: none;
    border: none;
    border-radius: 0.25rem;
    padding: .75rem;
    box-sizing: border-box;
    background-color: #fff;
}

.front-page-options  .active-btn {
    background-color: #EEE;
    flex: 1;
}

.front-page form {
    width: 100%;
    padding: 0.75rem;
}

.credits{
    margin-top: 0.25rem;
    font-size: 1px;
    color: #AAA;
}

select {
    border: none;
}

.board {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
}

.content-container {
    width: 100%;
}

.summary {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    width: 100%;
    padding: 0 .5rem;
    box-sizing: border-box;
    position: sticky;
    background-color: var(--text-color-highlight);
    top: 0;
    outline: 2px solid var(--text-color);
    z-index: 3;
}

.entries,
.owe-entries {
    border-spacing: 0;
    overflow: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
    width: 100%;
    flex: 1;
    margin-bottom: 3.5rem;
}

.entry, .entry-deets-fs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--text-color-highlight);
    border-bottom: 1px solid #ddd;
    height: auto;
    padding: 1rem 0.75rem;
    gap: 0.5rem;
}

.entry {
    padding-left: 0;
}

.board.entries .entry::after {
    content: ">";
}

.entry-deets {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    gap: 0;
}

.entry-items {
    font-size: 1rem;
    font-weight: 700;
}

.entry-paid-by {
    font-size: 0.75rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.25rem;
}

.entry-date {
    font-size: 0.55rem;
    font-weight: 300;
    color: gray;
}

.entry-price {
    font-size: 1.25rem;
    font-weight: 500;
    height: 100%;
}

.entry-other-deets {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column-reverse;
    gap: 0.25rem;
}

.entry-right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.25rem;
}


.board-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    color: white;
    background-color: #00000050;
    padding: .15rem;
    height: 2rem;
}

em {
    margin: 0;
    flex: 1;
    font-style: normal;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-wrap: wrap;
    box-sizing: border-box;
    height: auto;
}

.pop-msg-details .entry {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.pop-msg-details .entry em{
    width: 100%;
    justify-content: flex-start;
    padding: 0;
    text-align: left;
}

.pop-msg-details .entry{
    padding: 0.5rem 0;
    gap: .25rem;
}

.pop-msg-details .entry em:first-child{
    font-size: .75rem;
    color: #999;
}

.pop-msg-details .entry em:last-child{
    font-size: 1.25rem;
    font-weight: 500;
}

.entry-header {
    background-color: #eee;
    border-bottom: 1px solid black;
}
.entry-header em {
    font-weight: bold;
    padding: 0.5rem;
    font-size: 0.75rem;
}

.summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    background-color: #fff;
    box-shadow: 0px 3px var(--text-color);
    position: fixed;
    bottom: 0;
    border-top: 2px solid black;
    box-sizing: border-box;
    gap: 0.75rem;

}

.summary-comp {
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    flex: 1;
}

.summary-comp svg {
    height: 100%;
    transform: scale(1.25);
}

.summary-comp b {
    font-size: 1.5rem;
}

.nav-owe {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-bottom: 1px solid #CECECE;
}

.owe-1, .owe-2  {
    flex: 1;
    padding: 0.5rem;
    gap: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    background-color: #CECECE;
    margin: 0 0.25rem;
    border-radius: 0.25rem;
}

.no-1, .no-2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-1 {
    flex: 2;
    height: 100%;
}

.owe-1, .owe-2 {
    height: 4.5rem;
}

.no-2 {
    flex-direction: column;
    padding: 0.25rem;
    gap: 0.25rem;
    height: 4.5rem;
}

.filter {
    width: 100%;
    font-weight: 600;
    padding: 0.5rem;
    color: #444;
    border: 1px solid #CCC;
}

.active-filter {
    width: 100%;
    font-weight: 600;
    padding: 0.5rem;
    color: black;
    border: 1px solid transparent;
    background-color: #0000330f
}

.owe-2 {
    flex: 1;
    background-color: #B4B4B4;
    color: white;
}


.owe-1 p, .owe-2 p {
    color: #555;
    font-weight: 300;
    font-size: 0.75rem;
}

.owe-2 p {
    color: white;
}

.summary-title {
    margin: 0;
    font-weight: 100;
}

.top {
    position: sticky;
    width: 100%;
    top: 0;
}

.editor {
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    border: 2px solid black;
    border-radius: .5rem .5rem 0 0;
}

input {
    padding: 2rem;
}

.editor-controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-sizing: border-box;
}

.editor h1 {
    margin: 0;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
}

.editor-inputs input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    color: #777;
    border: 1px solid #CECECE;
    border-radius: 0.25rem;
}

.editor-inputs input:focus-visible {
    outline-color: #202020;
}
.editor-controls button{ 
    flex: 1;
    font-size: 1rem;
}

.editor-controls button:first-child {
    background-color: #353535;
    color: white;
    border: none;
}

.editor-controls button:last-child {
    background-color: #46a758;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.error-msg {
    color: #c40006d3;
    border: 1px solid #f92d0050;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 0 auto;
    font-size: 0.9rem;
}

.edt-chk {
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 0.25rem;
    color: #333;
    font-size: 0.9rem;
}



.editor-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}

.notes-entry {
    height: 10ch;
    text-wrap: wrap;
    width: 100%;
    border: 1px solid #bbb;
    border-radius: .25rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

.notes-entry:focus-visible {
    outline-color: #202020;
} 

.editor-inputs .logout {
    width: 100%;
    padding: 0.5rem;
}

.greeting {
    margin: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 800;
    width: 100%;
    text-align: center;
}

.pop {
    position: fixed;
    transition: all ease-in-out 100ms;
    height: 100%;
    width: 100%;
    background-color: #fff;
    outline: 3px solid black;
    box-shadow: 6px 6px black;
    z-index: 3;
    left: 0;
    top: 0;
    box-sizing: border-box;
    visibility: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 0.5rem;
}

.close {
    width: 100%;
}

.owe-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0.5rem 0;
}

.owe-controls hr{
    background-color: #000;
    border: 1px solid black;
}

.pop h1 {
    margin: 0;
    text-align: center;
    padding: 0.25rem;
    background-color: #353535;
    color: white;
    display: flex;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1.26rem;
}

.pop-active {
    margin: auto;
    visibility: visible;
}

.pop-details {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
}

.logout {
    color: white;
    background-color: #991b1b;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0.5rem;
}

.logd {
    color: white;
    background-color: #172554;
}

nav h1 {
    font-family: "Baloo 2", sans-serif;
    text-align: center;
    flex: 1;
    margin: 0.5rem auto;
}

.new-entry,
.download {
    display: flex;
    padding: 0.75rem;
    color: white;
    background-color: #202020;
    justify-content: center;
    align-items: center;
    flex: 5;
}

.new-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.nav-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}

.nc1 {
    align-items: flex-start;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid black;
    border-radius: 0.25rem;
    height: 100%;
    padding: 0.1rem;
    flex: 1;
}

.month {
    padding: 0.5rem 0rem;
}

.download {
    background-color: blue;
}

h2 {
    margin: 0;
}

.user-entry {
    background-color: #ecfccb;
}

.blur {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    backdrop-filter: blur(3px);
    z-index: 2;
}

.pop-up-details {
    visibility: hidden;
    padding: 0;
    transition: all ease-in-out 100ms;
    height: auto;
    width: 90%;
    background-color: #fff;
    outline: 3px solid black;
    box-shadow: 6px 6px black;
    z-index: 3;
    left: 5%;
    top: 25%;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    z-index: 3;
}

.pop-up-details-active {
    visibility: visible;
}

.msg-details-pop-up {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0.5rem;
    box-sizing: border-box;
}

.pop-msg-details p {
    margin: 0.25rem;
}

.pop-up-details h2, .owe-controls h2 {
    flex: 1;
}
.pop-up-details hr, .owe-controls hr {
    flex: 4;
}

.pop-up-details h1 {
    background-color: #353535;
    color: white;
    text-align: center;
    width: 100%;
    margin: 0;
    border-radius: 0.5rem;
    padding: 0.25rem;
    font-size: 1.25rem;
    font-weight: 400;
    box-sizing: border-box; 
}

.pop-msg-details {
    width: 100%;
    text-align: center;
    padding: 0 1rem;
    z-index: 3;
    margin-bottom: 0;
}

.pop-msg-details h3 {
    padding-top: 1rem;
    border-top: 3px solid black;
}

.pop-msg-details .entries {
    margin: 0.5rem 0;
}

.updated {
    font-weight: bold;
    color: red;
}

.edt-chk {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #bbb;
    border-radius: .25rem;
}

.edt-chk label {
    border-right: 2px solid #DDD;
}
.edt-chk label:last-child {
    border: none;
}

.edt-chk input {
    width: auto;
}
.edt-chk input {
    transform: scale(1.25);
}

.edt-chk label {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.1rem;
}

.owe-entries {
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid black;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.pop-up-details-active {
    z-index: 3;
}

.delete-entry {
    width: 100%;
    background-color: red;
    color: white;
    font-size: 1rem;
}

.delete-msg {
    position: absolute;
    background-color: white;
    visibility: visible;
    padding: 1rem;
    box-sizing: border-box;
    transition: all ease-in-out 100ms;
    height: auto;
    width: 90%;
    background-color: #fff;
    outline: 3px solid black;
    z-index: 3;
    left: 5%;
    top: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    border-radius: .5rem;
}

.delete-msg h1 {
    background-color: transparent;
    color: #000;
    outline: none;
    margin: 0;
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;
}

.delete-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.delete-options button {
    flex: 1;
    color: white;
}

.delete-options button:first-child {
    background-color: red;
}
.delete-options button:last-child {
    background-color: green;
}

.breakdown p {
    margin: 0;
}

.profiles {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    background-color: #eee;
    width: 100%;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border: none;
    padding: 0.5rem;
    border: 2px solid #CECECE;
    background-color: var(--text-color-highlight);
    border-radius: 0.5rem;
}

.owe-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: black;
    background-color: #00000017;
    padding: .75rem;
    border-radius: .5rem;
    height: 1rem;
    width: 1rem;
}

.activity-profile {
    flex-direction: row;
}
.owe-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0rem;
    height: 1rem;
}

.owe-info em {
    justify-content: center;
    padding: 0.25rem;
    width: 100%;
    font-size: .75rem;
}

.owe-profile-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    flex: 1;
}

h3 {
    margin: 0;
}

.activities-close {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.activites-list {
    overflow: scroll;
    padding: 0rem;
    width: 100%;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
}

.activity {
    background-color: #eee;
    padding: 0.5rem;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    border: none;
    border: 2px solid var(--text-color);
    background-color: var(--text-color-highlight);
    border-radius: 0.5rem;
}

.activity p {
    margin: 0;
}

.charts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.charts-owe-controls {
    justify-content: space-between;
}

.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#price-entry {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    font-size: 4rem;
    text-align: right;
    flex: 1;
}

#price-entry input{
    outline: none;
    border: none;
    font-size: 4rem;
    text-align: left;
}

